<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.w3engineers.core.videon">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup,android:label,android:supportsRtl">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/sample_app_id" />

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="true" />
        <activity
            android:name=".ui.videodetails.VideoDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.signup.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.channellist.ChannelListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.setting.SettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".ui.seeallvideos.SeeAllVideosActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.editprofile.EditProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.myprofile.MyProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.searchmovies.SearchMoviesActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.forgotpassword.ForgotPasswordActivity"
            android:screenOrientation="portrait" />

        <service android:name="com.w3engineers.core.util.VideonFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
<!--        <service android:name="com.w3engineers.core.util.VideonInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>-->
        <service android:name="com.w3engineers.core.util.MyJobService" />

        <!-- The activity below is needed while cropping images -->
        <activity android:name=".ui.aboutus.AboutUsActivity" />
        <activity
            android:name=".ui.privacypolicy.PrivacyPolicyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.empty.EmptyActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.inputpin.InputPinActivity" />
        <activity android:name=".ui.createnewpassword.CreateNewPasswordActivity" />
        <activity android:name=".ui.welcome.WelcomeActivity" />
        <activity android:name=".ui.loadingerror.LoadingErrorActivity" />
        <activity android:name=".ui.downloadmanager.DownloadManagerActivity"></activity>
        <activity android:name=".ui.videos.VideosActivity"></activity>
        <activity android:name=".ui.images.ImageActivity"></activity>
        <activity android:name=".ui.audio.AudioActivity"/>
        <activity android:name=".ui.document.DocumentActivity"/>
        <activity android:name=".ui.documentdetails.DocumentDetailsActivity"/>
        <activity android:name=".ui.audiodetails.AudioDetailsActivity"/>
        <activity android:name=".ui.imagedetails.ImageDetailsActivity"/>
        <activity android:name=".ui.fullscreenactivity.FullScreeActivity" android:theme="@style/AppTheme.Fullscreen" android:screenOrientation="landscape"/>
    </application>

</manifest>